@use "./modules/header.scss";
@use "./modules/search.scss";
@use "./modules/results.scss";
@import "./partials/palette";

body {
    margin: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(
        180deg,
        $secondary_background_col 0%,
        $primary_background_col 100%
    );
}
