@use "./../partials/devices" as media;

.search {
    height: 50px;
    width: 20vw;
    @include media.phone {
        width: 50vw;
    }
    @include media.tablet {
        width: 50vw;
    }
    @include media.tablet-landscape {
        width: 50vw;
    }
}
